# Dependencies
/vendor/
/node_modules/

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/public/build/
/public/hot/
/public/storage/

# Cache
.phpunit.result.cache